<div class="wrapper wrapper-content"  ng-controller="repositorio">
    <div class="row">
        <div class="col-lg-12 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="Filtra repositório">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Buscar
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                <span class="fa fa-hdd-o"></span>
                    Local:
                </h2>
                <div >
                </div>

                <div class="mail-tools tooltip-demo m-t-md" >
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read" ng-click="NewRepo()"><i class="fa fa-plus" ></i> Novo </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash" ng-click="deleteRepo()"><i class="fa fa-trash-o"></i></button>

                </div>
            </div>
<div class="mail-box">
<form>
    <table class="table table-hover table-mail" ng-init="mydb">
        <tbody>
            <tr class="read" ng-repeat=" (key, value) in mydb.infoRepositorios.local ">
                <td class="check-mail">
                    <input type="checkbox"  ng-click="checkbox(key)" 
                    ng-checked="arrayCheked.indexOf(key) > -1">
                </td>
                <td class="mail-ontact"><a ng-click="selectRepo(key)" >{{value.nome}}</a> 
                    <span ng-show="value.origin.de == 'local'" class="label label-warning pull-right">{{value.origin.de}}</span>
                    <span ng-show="value.origin.de != 'local'" class="label label-danger pull-right">{{value.origin.de}}</span>
                    </td>
                    <td class="mail-subject"><a ui-sref="repo.email_view">{{value.descricao}}</a></td>
                    <td  class="text-right mail-date"><a ng-hide="value.remote == ''" href=""><i class="fa fa-tag"></i> publicado</a></td>
                </tr>
            </tbody>
        </table>
</form>

    </div>
</div>
</div>
</div>
