<div class="inmodal">
        <div class="modal-header">
            <i class="fa fa-database modal-icon"></i>
            <h4 class="modal-title">Add Repositories </h4>
            <small class="font-bold">Come on,....</small>
        </div>
    <div class="modal-body">
        <form class="form-horizontal ng-pristine ng-valid">
            <div class="form-group">
                <label class="col-sm-1 control-label">Origin</label>
                <div class="col-sm-10">
                    <select ng-model="remoto.origin" class="selectpicker">
                      <option value="rede_local">Rede Local</option>
                      <option value="geoserver" >Geoserver</option>
                      <option value="postgresql">PostgreSQL</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Address </label>
                <div class="col-sm-10">
                    <input placeholder="Ex: http://localhost:8182/"ng-model="remoto.url" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Alias</label>
                <div class="col-sm-10">
                    <input placeholder="Ex: Amazonia" ng-model="remoto.titulo" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button"  ng-controller="repositorio_remoto" class="btn btn-primary" ng-click="addReporemoto(remoto)">Enviar</button>
    </div>

</div>

 