<style>
    /* Additional styles for body sk-spinner */
    .sk-body-loading:after {
        content: ''; background-color: rgba(0,0,0,0.5);
        position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    }
    #spinner.sk-body-loading > .sk-spinner {
        display: block; position: absolute;
        top: 40%; left: 0; right: 0;z-index: 2110;
    }
    #spinner .sk-spinner {
        display: none;
    }

    .sk-body-loading {
        position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 2100;
    }
    .adx {
        background: #2f4050;
        color: #FFFFFF;
    }
</style>
<div id="spinner" ng-class="commits ? 'sk-body':'sk-body-loading'">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- Top is used for animation load page -->
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="text-center">
                <div class="btn-group text-center">
                    <button  type="button" ui-sref="main.map" class="btn btn-primary "
                    ng-click='differenceCommit()'>{{ 'DIFFERENCE' | translate }}</button>
                    <button type="button" class="btn btn-primary disabled">{{ 'ANALYZE' | translate }}</button>
                    <button type="button" class="btn btn-primary disabled">{{ 'DOWNLOAD' | translate }}</button>
                </div>
            </div>
            <div  id="ibox-content">
                <div id="vertical-timeline" class="vertical-container light-timeline">
                    <div  ng-repeat="commit in commits" class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-cube"></i>
                        </div>
                        <div class="vertical-timeline-content" ng-class="commit.activate ? 'adx' :  ''; " ">
                            <h2>{{commit.author.name}}</h2>
                            <p>{{commit.message}} </p>
                            <button type="button" class="btn btn-info disabled">
                                {{ 'ACTIONS' | translate }}
                            </button>
                            <span class="vertical-date">
                                {{commit.author.email}}<br/>
                                <label>
                                    <input icheck type="checkbox" ng-model="commit.activate" type="checkbox" value="{{commit.id}}"  
                                    ng-change="checkChanged(commit);" ng-disabled="checked==limit && !commit.activate"/>
                                    <small> ID:{{commit.id}}</small>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
