
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight" ng-controller="repositorio_remoto">
        <div class="col-lg-12">
    <div class="text-center">
        <div class="btn-group text-center">
          <button  type="button" class="btn btn-primary " ng-click='compareCommit(load)'>Difference</button>
          <button  type="button" class="btn btn-primary disabled" ng-click='compareCommit(load)'>Analyze</button>
          <button  type="button" class="btn btn-primary disabled" ng-click='compareCommit(load)'>Donwload</button>
        </div>
    </div>

                <div  id="ibox-content">
                    <div id="vertical-timeline" class="vertical-container light-timeline" ng-init="load">
                        <div  ng-repeat="x in load" class="vertical-timeline-block">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-briefcase"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>{{x.author.name}}</h2>
                                <p>{{x.message}} </p>
                                <button type="button" class="btn btn-info disabled">Actions</button>
                                    <span class="vertical-date">
                                        {{x.author.email}}<br/>
                                        <label>
                                        <input ng-model="x.activate" type="checkbox" value="{{x.id}}" checked=''/><small> ID:{{x.id}}</small></label>
                                    </span>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>