<style type="text/css">
    .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
</style>
<div class="wrapper wrapper-content" ng-controller="repositorio_remoto">
<div id="mapid" style="width: 1024px; height: 350px;"></div>
</div>
<script type="text/javascript">

	var geojson = jQuery.parseJSON(window.localStorage.getItem("geojson"));
    var geojsonfeature = jQuery.parseJSON(window.localStorage.getItem("geojsonfeature"));
	var mymap = L.map('mapid').setView({lng:-72.5380430577834, lat:-7.854358928848911}, 10);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		id: 'mapbox.streets'
	}).addTo(mymap);
function getColor(d) {
	/*console.log(d);*/
    if (d == "ADDED"){
    	return '#00CED1'
    }if (d == "MODIFIED"){
    	return '#FF8C00'
    }if (d == "REMOVED"){
    	return '#DC143C'
    }
}
function style(feature) {
    return {
        fillColor: getColor(feature.properties.type_change),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7
    };
}
var legend = L.control({position: 'bottomright'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend');

    // loop through our density intervals and generate a label with a colored square for each interval

        div.innerHTML =
            '<i style="background:#BD0026"> &nbsp &nbsp  </i>&nbsp REMOVED<br><br>'+
            '<i style="background:#00CED1"> &nbsp &nbsp  </i>&nbsp ADDED<br><br>'+
            '<i style="background:#FF8C00"> &nbsp &nbsp  </i>&nbsp MODIFIED<br><br>'


    return div;
};

legend.addTo(mymap);
L.geoJson(geojsonfeature,{style: function (feature) {
          return { weight: 2 , dashArray: '3'};
      }}).addTo(mymap);
L.geoJson(geojson,{style: style,
     onEachFeature: function (feature, layer) {
         layer.bindPopup(
            "<p><strong>Feature ID:</strong> "+feature.properties.feature_id+"<br>"+
            "<strong>Change type:</strong> "+feature.properties.type_change+"</p>"

            );


     }}).addTo(mymap);

</script>