<div class="inmodal">
        <div class="modal-header">
            <i class="fa fa-database modal-icon"></i>
            <h4 class="modal-title">Add repositorios </h4>
            <small class="font-bold">Vamos lá,....</small>
        </div>
    <div class="modal-body">
        <form class="form-horizontal ng-pristine ng-valid">
            <div class="form-group">
                <label class="col-sm-1 control-label">Título</label>
                <div class="col-sm-10">
                    <input ng-model="remoto.titulo" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Url</label>
                <div class="col-sm-10">
                    <input ng-model="remoto.url" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button"  ng-controller="repositorio_remoto" class="btn btn-primary" ng-click="addReporemoto(remoto)">Enviar</button>
    </div>

</div>

 