<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{ 'OPTIONS' | translate }}:</strong>
                             </span>
                                <span class="text-muted text-xs block"><b class="caret"></b>
                               Menus
                                </span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="main.config">{{ 'CONFIGURATION' | translate }}</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <h3>Geogig</h3>
                    <h5>Desktop</h5>
                    <br>
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="main.local"><i class="fa fa-hdd-o"></i> <span class="nav-label">{{ 'LOCAL_REPOSITORIES' | translate }}</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.remoto"><i class="fa  fa-cloud"></i> <span class="nav-label">{{ 'REMOTE_REPOSITORIES' | translate}}</span></a>
            </li>
        </ul>

    </div>
</nav>
