<div  class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ui-sref="repo.remoto" >
                    <!-- <i class="fa fa-sign-out" ></i> Sair -->
                   <!--  <button  ng-controller="repositorio"   ng-click="initServerLocal('init')" class="btn btn-w-m btn-info btn-sm" ><i class="fa fa-database" ></i> Iniciar Server Local</button> -->

                    <button  ng-click="teste()"  class="btn btn-white btn-sm" ><i class="fa fa-database" ></i>Desativar Servidor Local</button>   
                </a>
            </li>
        </ul>

    </nav>
</div>
