<div class="wrapper wrapper-content" >
    <div class="row">
        <div class="col-lg-12 animated fadeInRight">
            <div class="mail-box-header">
                <div class="mail-tools tooltip-demo m-t-md">
                    <h3>
                        <span class="fa fa-cloud"></span>
                        {{ 'CONNECTED' | translate }}:
                    </h3>
                    <h5>
                        <span class="font-noraml">
                            Adress : {{currentRepoRemoteData().serverAddress}}
                            <br>Name : {{currentRepoRemoteData().name}}
                        </span>
                    </h5>
                </div>
            <div >
        </div>

        <div class="mail-tools tooltip-demo m-t-md" >
            <div class="btn-group pull-right">
                <span class="label label-info pull-right">{{currentRepoRemoteData().repos.repo.length}} -  REPOSITORY
                </span>
            </div>
        </div>
    </div>
    <div class="mail-box">
        <table class="table table-hover table-mail" ng-init="mydb">
            <tbody>
                <tr class="read" ng-repeat=" (key, value) in currentRepoRemoteData().repos.repo">
                    <td class="check-mail">
                        <!-- <input icheck type="checkbox" ng-model="check3"> -->
                    </td>
                     <!-- <td class="mail-ontact"><a ng-click="selectRepoRemote(key)" >{{value.nome}}</a>  -->
                    <td class="mail-ontact"><a >{{value.name}}</a>
                        <span class="label label-danger pull-right">
                        {{ 'REMOTE' | translate }}</span></td>
                        <td class="mail-subject"><a >{{value.href}}</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">
                            <button ng-click="clone(value.name, value.href)" type="button" class="btn btn-primary btn-xs fa fa-cloud-download">
                            {{ 'CLONE' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>